<% c++ #include "content.h" %>
<% skin train %>
<% view training uses content::training %>
<% template render() %>
<html
	<head>
		<title>Train Your Neural Network</title>
		<link rel="stylesheet" type="text/css" href="/css/default.css" />
		<script type="text/javascript" src="/js/default.js"></script>
	</head>
	<body>
		<h1>Train Your Network</h1>
		<div id="trainingnodes">
		     <% for
		</div>
		<div id="outputnodes"></div>