<% c++ #include "content.h" %>
<% skin interface %>
<% view training uses content::training %>
<% template render() %>
<html>
	<head>
		<title>Train Your Neural Network</title>
		<link rel="stylesheet" type="text/css" href="/css/default.css" />
		<script type="text/javascript" src="/js/default.js"></script>
	</head>
	<body>
		<h1>Train Your Neural Network</h1>
		<p><%= numInputs %></p>
		<p><%= numHidden %></p>
		<p><%= numOutputs %></p>
	</body>
</html>
<% end template %>
<% end view %>
<% end skin %>